@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color:#333939;
    color: #fff;
    padding: 10px;
    text-align: center;
}

h1 {
    text-align: center;
    margin-top: 30px;
}

.form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

p a {
    color: black;

}

button[type="button"] {
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 20px;
}

button[type="button"]:hover {
    background-color: #333;
}

.alert {
    display: none;
    background-color: #ffcccc;
    color: #cc0000;
    padding: 10px;
    margin-top: 10px;
    border-radius: 3px;
}

.alert.show {
    display: block;
}


